.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 80px;
  perspective: 1000px;
}

.left {
  max-width: 600px;
}

.left h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.left span {
  color: var(--primary);
}

.left h2 {
  margin: 15px 0;
  font-weight: 500;
  opacity: 0.9;
}

.left p {
  margin-top: 20px;
  line-height: 1.6;
  opacity: 0.8;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.primaryBtn,
.secondaryBtn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s ease;
}

.primaryBtn {
  background: var(--primary);
  color: white;
}

.primaryBtn:hover {
  transform: translateY(-3px);
}

.secondaryBtn {
  border: 1px solid var(--primary);
  color: rgb(77, 80, 80);
}

.secondaryBtn:hover {
  background: var(--primary);
  color: white;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative; /* keep relative for safety */
}



.right svg {
  font-size: 60px;
}

.iconReact {
  position: absolute;
  bottom: 40px;
  left: -40px;
  color: #61dafb;
}
.iconReact:hover {
   filter: drop-shadow(0 0 15px  #61dafb);
}

.iconNode {
  position: absolute;
  top: 0;
  right: 0;
  color: #3c873a;
}

.iconNode:hover {
  filter: drop-shadow(0 0 15px #3c873a);
}

.iconMongo {
  position: absolute;
  top: 0;
  left: 0;
  color: #4db33d;
}
.iconMongo:hover {
  filter: drop-shadow(0 0 15px #4db33d);
}

.iconTs {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #3178c6;
}
.iconTs:hover {
  filter: drop-shadow(0 0 15px #3178c6);
}
