.skills {
  padding: 80px 40px;
  text-align: center;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-weight: 600;
}

.skills h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: var(--primary);
  display: block;
  margin: 12px auto 0;
  border-radius: 4px;
}

.grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  gap: 25px;
}

.card {
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 500;
}

.percent {
  color: var(--primary);
}

.progressContainer {
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
}

.skillInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skillIcon {
  font-size: 1.4rem;
  transition: 0.3s ease;
}

.card:hover .skillIcon {
  transform: scale(1.2);
}