/*ROOT VARIABLES*/

:root {
  --bg-light: #ffffff;
  --text-light: #111827;

  --bg-dark: #0f172a;
  --text-dark: #f1f5f9;

  --primary: #2563eb;

  --transition-speed: 0.3s ease;
}

/*BODY BASE */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  transition: background var(--transition-speed),
              color var(--transition-speed);
  scroll-behavior: smooth;
}

/* LIGHT THEME */

body[data-theme="light"] {
  background-color: var(--bg-light);
  color: var(--text-light);
}

/* DARK THEME */

body[data-theme="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* SECTIONS*/

section {
  transition: background var(--transition-speed),
              color var(--transition-speed);
}

/* Alternating section background (light) */
body[data-theme="light"] section:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

/* Alternating section background (dark) */
body[data-theme="dark"] section:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.02);
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(12px);
  transition: background var(--transition-speed),
              border var(--transition-speed);
}

/* Light Navbar */
body[data-theme="light"] .navbar {
  background: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Dark Navbar */
body[data-theme="dark"] .navbar {
  background: rgba(15, 23, 42, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* GLOBAL LINK STYLING*/

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--primary);
}

/* BUTTON RESET */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/*SCROLLBAR  */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

body[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

body[data-theme="light"] section main{
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
 border:1px solid var(--primary);
}

body[data-theme="light"] section main:hover{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* SMOOTH SELECTION COLOR */

::selection {
  background: var(--primary);
  color: white;
}